@page "/wizard-editor"
@code {
    public const string Route = "/wizard-editor";
}

@using EventHorizon.Game.Editor.Client.Wizard.Api
@using EventHorizon.Game.Editor.Client.Wizard.Components
@using EventHorizon.Game.Editor.Client.Wizard.Components.Provider

<h1>@Localizer["Wizards"]</h1>

<div class="wizard-editor">
    <WizardContextProvider Context="page">
        @if (State.CurrentStep("page"))
        {
            <div data-test-selector="wizard-editor-page__step-editor">
                <WizardStepEditor Step="@(State.CurrentStep("page").Result)" Data="@(State.CurrentData("page"))" />
            </div>
        }
        else
        {
            <div data-test-selector="wizard-editor-page__list">
                <WizardList />
            </div>
        }
    </WizardContextProvider>
</div>

@code {
    [CascadingParameter]
    public WizardState State { get; set; } = null!;

    [Inject]
    public Localizer<SharedResource> Localizer { get; set; } = null!;
}
