@inherits LayoutComponentBase

<div class="view-height-page @BladesCssClass">
    <div class="page__blades @BladesCssClass">
        <EditorBladeSelection OnToggleExpand="HandleToggleExpandOnBlades" />
        <QuickLinks />
        <DisplayLoginStatus />
        <ZoneSelection SelectionDisplay="SELECT" />
    </div>

    <div class="page__main">
        <div class="page__content">
            @Body
        </div>
    </div>
</div>

@code {

    private bool expandedBlade = false;

    private string BladesCssClass => expandedBlade ? "--expanded" : null;

    public void HandleToggleExpandOnBlades()
    {
        expandedBlade = !expandedBlade;
    }
}