@inherits AssetFileProviderUploadModel

<div class="file-provider-upload">
    <InputFile @ref="UploadInputFile"
               id="upload-input-file"
               style="position: fixed; top: -1000px; left: -1000px;"
               tabindex="-1"
               OnChange="HandleInputFileChange" />
</div>
