@inherits AssetImportFileUploadProviderModel

<div class="asset-import-file-provider-upload">
    <InputFile @ref="UploadInputFile"
               id="asset-server-import-upload-input-file"
               style="position: fixed; top: -1000px; left: -1000px;"
               tabindex="-1"
               OnChange="HandleInputFileChange" />
</div>
