@page "/"

<h1>@Localizer["EventHorizon Game Editor"]</h1>

<p>
    @Localizer["You are currenlty on the home page for the Editor, select \"Live Editor\" from the \"Quick Links\" to see a live game world."]
</p>

<p>
    @Localizer["Currently the Editor is lacking on functionality, you can create a Client Entity and edit their properties, seeing the changed in realtime from the Game Client or from the Live Editor World View. As more features release out this Application will get more deatiled, so check back from time to time and follow the below Twitter for live updates."]
</p>

<a href="https://twitter.com/CodyAnhorn" target="_blank">
    @Localizer["EventHorizon Twitter (Cody Anhorn)"]
</a>

@code {
        [Inject]
        public Localizer<SharedResource> Localizer { get; set; } = null!;
}