@page "/sandbox"
@using Microsoft.Extensions.Logging
@using EventHorizon.Game.Editor.Client.Zone.Components
@using EventHorizon.Game.Editor.Client.Zone.Components.FileExplorer

@*<ZoneSelection />*@

<ZoneStateProvider>
    <EditorFileExplorer />
    @*<ZoneStateSandbox />*@
</ZoneStateProvider>


<button @onclick="HandleOpenModal">Open</button>

<StandardModal IsOpen="IsOpen" OnClose="HandleCloseModal">
    <Header>
        <h2>Header</h2>
    </Header>
    <Body>
        <div>
            Body!
        </div>
    </Body>
    <Footer>
        <div>
            <button @onclick="HandleCloseModal">Cancel</button>
        </div>
    </Footer>
</StandardModal>


<div>
    <button @onclick="SendErrorMessage">Send Error Log Message</button>
</div>
<div>
    <button @onclick="SendInfoMessage">Send Info Log Message</button>
</div>
<div>
    <button @onclick="SendArgsMessage">Send Info w/Args Log Message</button>
</div>

@code {
    public bool IsOpen { get; set; }

    public void HandleOpenModal()
    {
        IsOpen = true;
    }

    public void HandleCloseModal()
    {
        IsOpen = false;
    }

    [Inject]
    public ILogger<Index> Logger { get; set; } = null!;

    public void SendErrorMessage()
    {
        try
        {
            throw new Exception("hello I am an Error Message");
        }
        catch (Exception ex)
        {
            Logger.LogError(
                ex,
                "Error Message 123-123-123-123"
            );
        }
    }

    public void SendInfoMessage()
    {
        Logger.LogInformation(
            "Standard Message 123-123-123-123"
        );
    }
    public void SendArgsMessage()
    {
        Logger.LogInformation(
            "Templated Message {Guid}",
            Guid.NewGuid().ToString()
        );
    }
}