@using EventHorizon.Game.Editor.Client.Zone.Pages
@inherits EntityListBladeBase

<ZoneStateProvider>
    @if (IsNotOnEditorPage)
    {
        <div class="--center --padding">
            <a href="@ZoneEntityListPage.Route">
                @Localizer["Open Entity Editor"]
            </a>
        </div>
    }
    <EntityList />
</ZoneStateProvider>


