<button @onclick="HandleOpenWizardSelection">
    @Localizer["Wizards"]
</button>

<StandardWindow IsOpen="State.CurrentStep"
                IsDraggable="true"
                WidthSize="medium"
                Location="WindowLocationType.BottomRight">
    <Header>
        @State.CurrentStep.Result?.Name
    </Header>
    <Body>
        @if (State.CurrentStep)
        {
            <WizardStepEditor Step="State.CurrentStep.Result"
                              Data="State.CurrentData" />
        }
    </Body>
</StandardWindow>

<StandardModal IsOpen="!State.CurrentStep && IsOpen" OnClose="HandleCloseModal">
    <Header>@Localizer["Wizard Editor"]</Header>
    <Body>
        <WizardList />
    </Body>
</StandardModal>

@code {
    [CascadingParameter]
    public WizardState State { get; set; } = null!;

    [Inject]
    public Localizer<SharedResource> Localizer { get; set; } = null!;

    public bool IsOpen { get; set; }

    public void HandleOpenWizardSelection()
    {
        IsOpen = true;
    }

    public void HandleCloseModal()
    {
        IsOpen = false;
    }
}
