<div class="wizard-editor">
    @if (State.CurrentStep)
    {
        <WizardStepEditor Step="State.CurrentStep.Result"
                          Data="State.CurrentData" />
    }
    else
    {
        <WizardList />
    }
</div>

@code {
    [CascadingParameter]
    public WizardState State { get; set; } = null!;
}
