@using EventHorizon.Blazor.Interop
@using EventHorizon.Platform.LogProvider.Api
@using EventHorizon.ApplicationDetails.Component

<ApplicationDetailsProvider>
    <CascadingAuthenticationState>
        <Router AppAssembly="@typeof(Program).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <NotAuthorized>
                        <RedirectToLogin />
                    </NotAuthorized>
                </AuthorizeRouteView>
            </Found>
            <NotFound>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p>Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </CascadingAuthenticationState>
    <AppEnrichment />
    >
</ApplicationDetailsProvider>

@code {
    [Inject]
    public IJSRuntime JSRuntime { get; set; } = null!;
    [Inject]
    public LoggingHostedService LoggingHostedService { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        EventHorizonBlazorInterop.JSRuntime = JSRuntime;

        await LoggingHostedService.StartAsync();
    }
}