@inherits PropertyControlBase

<div class="long-property">
    @if (ShowRemove)
    {
        <label class="--font-bold --cursor-pointer"
               title="@Localizer["Remove"]">
            <button class="c-button --text"
                    @onclick="HandleRemove">
                &#10060
            </button>
            @PropertyName
        </label>
    }
    else
    {
        <label class="--font-bold">
            @PropertyName
        </label>
    }

    <input class="--text-input"
           type="number"
           value="@Property"
           @onchange="HandleChange" />
</div>

<style>
    .long-property {
    }

        .long-property .--text-input {
            width: 100%;
        }
</style>

@code {
    protected override object Parse(object value)
    {
        return long.Parse(
            value.Cast<string>()
        );
    }
}
