@inherits InteropBabylonJSTestModel

<div>
    <h3>BabylonJS Interop Test</h3>
    <ReportTimeTaken Runs="_max" TimeTaken="TimeTaken" />
    <button @onclick="RunTest">Run</button>
    <div>
        <canvas id="game-window" @ref="GameWindowElement" style="width:100%"></canvas>
    </div>
</div>

