@inherits LibraryBabylonJSTestModel

<div>
    <h3>BabylonJS Library Test</h3>
    <ReportTimeTaken Runs="_max" TimeTaken="TimeTaken" />
    <button @onclick="RunTest">Run</button>
    <div>
        <canvas id="library-testing-game-window" style="width:100%"></canvas>
    </div>
</div>

