@inherits LayoutComponentBase

<div class="page">
    <div class="page__nav">
        <div class="top-row navbar navbar-dark">
            <a class="navbar-brand" href="/">Game Editor</a>
        </div>
    </div>

    <div class="page__main">
        <div class="page__content">
            <AnimateOnLocationChanged>
                @Body
            </AnimateOnLocationChanged>
        </div>
    </div>
</div>
