.page__grid {
    height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: var(--top-bar-height) auto 45%;
    grid-template-areas: "top-bar top-bar" "main main" "nav aside";
}

.page__top-bar {
    grid-area: top-bar;
    background-color: black;
    height: 100%;
}

.page__nav {
    grid-area: nav;
    overflow-x: auto;
    background-color: black;
    z-index: 999;
}

.page__main {
    grid-area: main;
    overflow: auto;
}

.page__aside {
    grid-area: aside;
    overflow-x: hidden;
    background-color: black;
}

@media (min-width: 641px) {
}

@media (min-width: 768px) {
    .page__grid {
        display: grid;
        grid-template-columns: 300px auto 300px;
        grid-template-rows: var(--top-bar-height) auto;
        grid-template-areas: "top-bar top-bar top-bar" "nav main aside";
    }

    .page__nav {
        position: sticky;
        top: 0;
        z-index: 99;
    }

    .page__aside {
        position: sticky;
        top: 0;
    }
}
