@inherits LayoutComponentBase

<div class="page">
    <div class="page__nav">
        <NavigationBase />
    </div>

    <div class="page__main">
        <div class="page__content">
            @Body
        </div>
    </div>

    <aside class="page__aside">
        <BladeSelection Id="three-split-page" />
    </aside>
</div>
