.page {
    height: 100vh;
}

.page__grid {
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: var(--top-bar-height) auto 150px;
    grid-template-areas: "top-bar" "main" "nav";
}

.page__top-bar {
    grid-area: top-bar;
    background-color: black;
    height: 100%;
}

.page__nav {
    grid-area: nav;
    overflow-x: auto;
    background-color: black;
    z-index: 999;
}

.page__main {
    grid-area: main;
    display: grid;
    grid-template-rows: 40px auto;
}

    .page__main ::deep .alpha-banner {
        margin: 0;
    }

    .page__content {
    }

@media (min-width: 641px) {
}

@media (min-width: 768px) {
    .page__grid {
        display: grid;
        grid-template-columns: 300px auto;
        grid-template-rows: var(--top-bar-height) auto;
        grid-template-areas: "top-bar top-bar" "nav main";
    }

    .page__nav {
        position: sticky;
        top: 0;
        z-index: 99;
    }
}
