@inherits PropertyControlBase

<div class="string-property">
    @if (ShowRemove)
    {
        <label class="--font-bold --cursor-pointer"
               title="@Localizer["Remove"]">
            <button class="c-button --text"
                    type="button"
                    @onclick="HandleRemove">
                &#10060
            </button>
            @LabelText
        </label>
    }
    else
    {
        <label class="--font-bold">
            @LabelText
        </label>
    }
    <input class="--text-input"
           value="@Property"
           @onchange="HandleChange" />
</div>

<style>
    .string-property {
    }

        .string-property .--text-input {
            width: 100%;
        }
</style>

@code {
    protected override object Parse(object value)
    {
        return value;
    }
}
