.blade {
    padding: 0.8rem;
}

.blade__title {
    display: flex;
    justify-content: space-between;
}

.title__text {
    padding: 0.2rem;
    color: var(--accent-color);
    background-color: transparent;
    border-top: solid 2px var(--accent-background);
    border-right: solid 1px var(--accent-color);
    border-bottom: none;
    border-left: solid 1px var(--accent-color);
}

    .title__text.--desktop-only {
        display: none;
    }

.expanded-toggler {
    cursor: pointer;
}

    .expanded-toggler:focus,
    .expanded-toggler:hover {
        outline: solid 1px;
    }

.expanded-toggler-icon {
    font-size: 1rem;
    padding-left: 0.3rem;
}

.blade__settings__open-button {
    padding: 0.3rem;
}

.blade__content {
    display: none;
}

    .blade__content.--expanded {
        display: block;
    }

@media (min-width: 641px) {
}

@media (min-width: 768px) {
    .expanded-toggler {
        display: none;
    }

    .title__text.--desktop-only {
        display: block;
    }

    .blade__content {
        display: block;
    }
}
