.blade {
    padding: 0.8rem;
}

.blade__title {
    display: flex;
    justify-content: space-between;
}

.expanded-toggler {
    padding: 0.2rem;
    color: var(--accent-color);
    background-color: transparent;
    cursor: pointer;
    border-top: solid 2px var(--accent-color);
    border-right: solid 1px var(--accent-color);
    border-bottom: none;
    border-left: solid 1px var(--accent-color);
    height: 100%;
}

.expanded-toggler-icon {
    font-size: 1rem;
    padding-left: 0.3rem;
}

.blade__settings__open-button {
    padding: 0.3rem;
    border: none;
}

.blade__content {
    display: none;
}

    .blade__content.--expanded {
        display: block;
    }

@media (min-width: 641px) {
}

@media (min-width: 768px) {
    .expanded-toggler-icon {
        display: none;
    }

    .blade__content {
        display: block;
    }
}
