<div class="blade">
    <BladeSelection Id="editor-blade-selection" />
</div>

@code {
    [CascadingParameter]
    public EventHorizon.Game.Editor.Client.Authentication.Api.SessionValues SessionValues { get; set; } = null!;

    [Inject]
    public NavigationManager Navigation { get; set; } = null!;
    [Inject]
    public MediatR.IMediator Mediator { get; set; } = null!;

    public string CurrentBlade { get; set; } = "NAV_MENU";

    protected override void OnInitialized()
    {
        CurrentBlade = SessionValues.Get(
            "currentBlade",
            CurrentBlade
        );

        base.OnInitialized();
    }

    protected override void OnParametersSet()
    {
        CurrentBlade = SessionValues.Get(
            "currentBlade",
            CurrentBlade
        );

        base.OnParametersSet();
    }

    private async Task HandleSelectionChanged(
        string value
    )
    {
        CurrentBlade = value;
        await Mediator.Send(
            new EventHorizon.Game.Editor.Client.Authentication.Set.SetSessionValueCommand(
                "currentBlade",
                CurrentBlade
            )
        );
    }
}
