@inherits PropertyControlBase

<div>
    <label class="font-bold cursor-pointer"
           title="@Localizer["Remove"]">
        @if (ShowRemove)
        {
            <button class="c-button --text"
                    @onclick="HandleRemove">
                &#10060
            </button>
        }
        @PropertyName
    </label>
    <input class="c-text-input"
           value="@Property"
           @onchange="HandleChange" />
</div>

@code {
    protected override object Parse(object value)
    {
        return value;
    }
}
