@inherits AssetManagementBreadcrumbModel

<div class="asset-management__breadcrumb">
    @foreach (var breadcrumbItem in BreadcrumbItemList)
    {
        <span>@Localizer["/"]</span>
        <button class="breadcrumb__item --text --font-underline"
                type="button"
                @onclick="() => HandleNavigateToPath(breadcrumbItem.FilterPath)">
            @breadcrumbItem.Text
        </button>
    }
    @CurrentLocation
</div>
