.menu-bar {
    height: var(--top-bar-height);
}

.menu-bar__content {
/*    background-color: rgba(0,0,0,0.4);*/
    display: flex;
    border-bottom: solid 2px var(--brand-color);
}

.menu-toggler {
    margin: 0.3rem;
    color: var(--accent-color);
    background-color: transparent;
    cursor: pointer;
    animation: anim-glow 2s ease infinite;
    border-radius: 50%;
}

.menu-toggler-icon {
    font-size: 2rem;
}

.menu-brand {
    font-weight: bold;
}

.menu-bar ::deep a {
    place-self: center;
    color: var(--accent-color);
    font-size: 1.1rem;
    text-decoration: none;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

@media (min-width: 641px) {
}

@media (min-width: 768px) {
}

@keyframes anim-glow {
    0% {
        box-shadow: 0 0 var(--brand-color);
    }

    100% {
        box-shadow: 0 0 10px 8px transparent;
        border-width: 1px;
    }
}