<div class="menu-bar">
    <div class="menu-bar__content">
        <button class="menu-toggler --no-border"
                title="@Localizer["Global Settings"]"
                @onclick="HandleOpenGlobalSettings">
            <i class="menu-toggler-icon fab fa-elementor"></i>
        </button>
        <a class="menu-brand navbar-brand" href="/">@Localizer["Game Editor"]</a>
        <ZoneStatus />
        <DisplayLoginStatus />
    </div>
</div>

<StandardModal IsOpen="IsGlobalSettingsOpen"
               OnClose="HandleCloseGlobalSettings">
    <Header>
        <h2>@Localizer["Global Settings"]</h2>
    </Header>
    <Body>
        <ZoneSelection />
    </Body>
</StandardModal>

@code {
    [Inject]
    public Localizer<SharedResource> Localizer { get; set; } = null!;

    private bool IsGlobalSettingsOpen { get; set; }

    private void HandleOpenGlobalSettings()
    {
        IsGlobalSettingsOpen = true;
    }

    private void HandleCloseGlobalSettings()
    {
        IsGlobalSettingsOpen = false;
    }
}