@using EventHorizon.Game.Editor.Client.Wizard.Components

<div class="top-row navbar navbar-dark">
    <button class="menu-toggler --no-border"
            type="button"
            @onclick="ToggleNavMenu">
        @if (collapseNavMenu)
        {
            <i class="menu-toggler-icon fas fa-chevron-right"></i>
        }
        else
        {
            <i class="menu-toggler-icon fas fa-chevron-down"></i>
        }
        @Localizer["Sub Menu"]
    </button>
</div>

<div class="nav__content @NavMenuCssClass">
    @if (PlatformUser.IsAuthenticated)
    {
        <QuickLinks />
        <WizardSelection />
        <EditorBladeSelection />
    }
</div>

@code {
    [CascadingParameter]
    public PlatformUserModel PlatformUser { get; set; } = null!;

    [Inject]
    public Localizer<SharedResource> Localizer { get; set; } = null!;


    private bool collapseNavMenu = true;

    private string NavMenuCssClass => !collapseNavMenu ? "--expanded" : string.Empty;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}