.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.menu-toggler {
    margin: 0.3rem;
    color: var(--accent-color);
    background-color: transparent;
    cursor: pointer;
    font-size: 1.5rem;
}

.menu-toggler-icon {
    padding: 0 0.3rem 0 0;
}

.menu-brand {
    place-self: center;
    color: var(--accent-color);
    font-size: 1.1rem;
    text-decoration: none;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.nav__content {
    display: none;
}

    .nav__content.--expanded {
        display: block;
    }

@media (min-width: 641px) {
}

@media (min-width: 768px) {
    .top-row {
        display: none;
    }

    .nav__content {
        display: block;
    }
}
