.data-storage-page {
    padding: 0 1rem;
}

.data-storage__table {
    width: 100%;
}

.confirm-modal__actions {
    height: 100%;
    text-align: end;
}

.confirm-modal__button {
    height: 100%;
    width: 100px;
}
