.data-storage-page {
    padding: 0 1rem;
}

.data-storage__table {
    width: 100%;
}

.confirm-modal__button {
    height: 100%;
    padding: 0 2rem;
}

.confirm-modal__actions {
    padding: 1rem;
}
