@inherits ZoneConnectionStatusProviderModel

<StandardModal IsOpen="IsReconnecting"
               HideClose="true">
    <Header>
        <div class="reconnecting-modal__content" role="alert">
            <h2>
                @Localizer["Reconnecting to Zone Server..."]
            </h2>
        </div>
    </Header>
</StandardModal>
