@inherits FileEditorProviderModel

<ContainerStatesComponent State="DisplayState">
    <LoadingFragment>
        <Loading ShowLongLoadingIndicator="true" />
    </LoadingFragment>
    <ContentFragment>
        <CascadingValue Value="State">
            @ChildContent
        </CascadingValue>
    </ContentFragment>
    <ErrorFragment>
        <div>
            <div>
                ErrorMessage: @ErrorMessage
            </div>

            <div>
                ZoneState ID: @ZoneState.Zone.Id
            </div>

            <div>
                EncodedFileNodeId: @EncodedFileNodeId
            </div>

            <div>
                FileNodeId: @EncodedFileNodeId.Base64Decode()
            </div>
        </div>
    </ErrorFragment>
</ContainerStatesComponent>
