@using BlazorMonaco
@inherits ZoneFileEditorComponentModel

<div class="editor">
    <StandardToolbar>
        <StandardToolbarButton title="@Localizer["Save File"]"
                               @onclick="HandleSaveFile">
            @Localizer["Save"]
        </StandardToolbarButton>
        <StandardToolbarButton title="@Localizer["Open Details for Editor"]"
                               @onclick="HandleOpenDetails">
            @Localizer["Details"]
        </StandardToolbarButton>
    </StandardToolbar>
    <MonacoEditor @ref="MonacoEditor"
                  Id="any-id-string"
                  CssClass="editor-container"
                  ConstructionOptions="BuildConstructionOptions" />

    <StandardModal IsOpen="IsDetailsModalOpen"
                   OnClose="HandleCloseDeatils">
        <Body>
            <DumpToJson Data="EditorNode"></DumpToJson>
        </Body>
    </StandardModal>

</div>
