<AuthorizeView>
    <Authorized>
        <a class="nav-link"
           href="authentication/logout"
           @onclick="BeginSignOut">
            @Localizer["Logout"]
        </a>
    </Authorized>
    <NotAuthorized>
        <a class="nav-link"
           href="authentication/login">
            @Localizer["Login"]
        </a>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Inject]
    public NavigationManager Navigation { get; set; } = null!;
    [Inject]
    public SignOutSessionStateManager SignOutManager { get; set; } = null!;
    [Inject]
    public Localizer<SharedResource> Localizer { get; set; } = null!;

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}