@using EventHorizon.Game.Editor.Client.Pages

<AuthorizeView>
    <Authorized>
        <a class="nav-link" href="@AuthenticationPage.Route("logout")" @onclick="BeginSignOut"
            data-test-selector="logout-link">
            @(LogoutDisplayText ?? Localizer["Logout"])
        </a>
    </Authorized>
    <NotAuthorized>
        <a class="nav-link" href="@AuthenticationPage.Route("login", Navigation.Uri)" data-test-selector="login-link">
            @(LoginDisplayText ?? Localizer["Login"])
        </a>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Parameter]
    public required string LoginDisplayText { get; set; }
    [Parameter]
    public required string LogoutDisplayText { get; set; }

    [Inject]
    public required NavigationManager Navigation { get; set; }
    [Inject]
    public required Localizer<SharedResource> Localizer { get; set; }

    private void BeginSignOut(MouseEventArgs args)
    {
        Navigation.NavigateToLogout(AuthenticationPage.Route("logout"));
    }
}