.standard-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
}

.standard-modal__overlay {
    overflow: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.8;
}

.standard-modal__content {
    padding: 0.8rem;
    background-color: var(--background-dark);
    position: absolute;
    outline: 0;
    margin: 0.5rem 0.5rem;
    align-content: stretch;
    display: flex;
    flex-direction: column;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: column;
}

.standard-modal__close-button {
    position: absolute;
    font-size: 2rem;
    right: 0;
    top: 0;
    background: transparent;
}

.standard-modal__header {
    overflow: hidden;
    height: 10%;
}

.standard-modal ::deep h2 {
    margin-top: 0.3rem;
}

.standard-modal ::deep h3 {
    margin-top: 0.3rem;
}

.standard-modal__body {
    overflow: auto;
    height: 200px;
    padding: 1rem;
    flex-grow: 1;
}

.standard-modal__footer {
    overflow: hidden;
    height: 10%;
}

.standard-modal__header + .standard-modal__body, .standard-modal__body + .standard-modal__footer {
    margin-top: 10px;
}

/* var(--screen-min-width) */
@media only screen and (min-width: 640px) {
    .standard-modal__content {
        margin: 3em auto;
        width: 75%;
        height: 75%;
    }

        .standard-modal__content.--fit {
            width: fit-content;
            height: fit-content;
        }

        .standard-modal__content.--full {
            margin: 0.5em auto;
            width: 98%;
            height: 98%;
        }

        .standard-modal__content.--slim {
            margin: 0.5em auto;
            height: 50%;
        }

    .standard-modal__header.--slim {
        height: 18%;
    }

    .standard-modal__footer.--slim {
        height: 18%;
    }
}

/* var(--screen-mid-width) */
@media only screen and (min-width: 832px) {
    .standard-modal__content {
        margin: 3em auto;
        width: 50%;
        height: 50%;
    }

        .standard-modal__content.--full {
            margin: 0.5em auto;
            width: 98%;
            height: 98%;
        }

        .standard-modal__content.--slim {
            margin: 0.5em auto;
            height: 30%;
        }

    .standard-modal__header.--slim {
        height: 25%;
    }

    .standard-modal__footer.--slim {
        height: 25%;
    }
}

/* var(--screen-max-width) */
@media only screen and (min-width: 1024px) {
    .standard-modal__content {
        margin: 3em auto;
        width: 50%;
        height: 50%;
    }

        .standard-modal__content .--full {
            margin: 0.5em auto;
            width: 98%;
            height: 98%;
        }

        .standard-modal__content .--slim {
            margin: 0.5em auto;
            height: 30%;
        }

    .standard-modal__header.--slim {
        height: 25%;
    }

    .standard-modal__footer.--slim {
        height: 25%;
    }
}
