@inherits AssetServerImportButtonModel

<button @attributes="Attributes"
        @onclick="HandleOpenFileUpload"
        title="@Localizer["Upload Asset Server Import file."]">
    @Localizer["Import"]
</button>