@inherits AssetServerImportButtonModel

<button @attributes="Attributes"
        @onclick="HandleOpenFileUpload"
        title="@Localizer["Upload Asset Server Import file."]"
        type="button">
    @Localizer["Import"]
</button>