@inherits AssetServerTriggerExportButtonModel

<button @attributes="Attributes"
        @onclick="HandleTriggerExport"
        title="@Localizer["Export Asset Server files."]">
    @Localizer["Export"]
</button>
