@inherits AssetServerTriggerExportButtonModel

<button @attributes="Attributes"
        @onclick="HandleTriggerExport"
        title="@Localizer["Export Asset Server files."]"
        type="button">
    @Localizer["Export"]
</button>
