@page "/live-editor"
@code
{
    public const string Route = "/live-editor";
}

@using EventHorizon.Game.Editor.Client.LiveEditor.Components
@layout ThreeSplitLayout

<h1>@Localizer["Live Editor"]</h1>

<ZoneStateProvider>
    <LiveEditor />
</ZoneStateProvider>

@code {
    [Inject]
    public Localizer<SharedResource> Localizer { get; set; } = null!;
}
