@inherits MessageToastContainerModel

<div class="toast-container --show">
    @foreach (var message in MessageList.Values.OrderBy(a => a.Timestamp))
    {
        <MessageToastDisplay @key="message.Id"
                                Message="message"
                                OnRemove="HandleRemoveMessage" />
    }
</div>
