@inherits ClientEntityListModel

<div class="entity-list">
    @foreach (var entity in ZoneState.ZoneInfo.ClientEntityList)
    {
        <button title="@entity.Name (@entity.GlobalId)"
                class="entity-item --text --shaded-background --padding"
                type="button"
                @onclick="() => HandleEntityClicked(entity)">
            @entity.Name (@entity.GlobalId)
        </button>
    }
</div>
