.asset-server-management__page {
    padding: 1rem;
}

.asset-server-management__header {
    padding: 0.3rem 0;
}

.asset-server-management__actions {
    padding: 0.3rem 0;
}

.asset-server-management__breadcrumbs {
    padding: 0.3rem 0;
}
