@page "/asset-management"
@using EventHorizon.Game.Editor.Client.AssetManagement.Components
@inherits EditorComponentBase

<div class="asset-management-header">
    <h3>@Localizer["Asset Management"]</h3>
    <AssetFileUpload />
</div>

<div class="file-manager">
    <AssetFileWindow />
</div>
