@page "/asset/management/server"
@using EventHorizon.Game.Editor.Client.AssetManagement.Components
@inherits EditorComponentBase

<div class="asset-server-management__header">
    <h3>@Localizer["Asset Management"]</h3>
    <AssetFileUpload />
</div>

<div class="asset-server-management__file-manager">
    <AssetFileWindow />
</div>
