@page "/asset/management/server"
@code
{
    public const string Route = "/asset/management/server";
}

@using EventHorizon.Game.Editor.Client.AssetManagement.Components
@using EventHorizon.Game.Editor.Client.AssetManagement.Components.Breadcrumb
@using EventHorizon.Game.Editor.Client.AssetManagement.Components.Export 
@using EventHorizon.Game.Editor.Client.AssetManagement.Components.Import
@inherits EditorComponentBase

<div class="asset-server-management__page">
    <div class="asset-server-management__header">
        <h1>@Localizer["Asset Management"]</h1>
    </div>

    <div class="asset-server-management__breadcrumbs">
        <AssetManagementBreadcrumb />
    </div>

    <div class="asset-server-management__actions">
        <AssetFileUpload />
        <AssetServerTriggerExportButton />
        <AssetServerImportButton />
    </div>

    <div class="asset-server-management__file-manager">
        <AssetFileWindow />
    </div>
</div>
