@page "/asset/management/zone/edit/{id}"
@code
{
    public static string Route(string id) => $"/asset/management/zone/edit/{id}";
}

@using EventHorizon.Game.Editor.Client.AssetManagement.Components.EditForm
@inherits EditZoneGameAssetPageModel

<div class="create-zone-asset__page">
    <h1>
        @Localizer["Edit Game Asset"]
    </h1>
    <ContainerStatesComponent State="ModelState">
        <LoadingFragment>
            @Localizer["Loading..."]
        </LoadingFragment>
        <ContentFragment>
            <EditZoneGameAssetForm Model="Model"
                                   OnSubmit="HandleSave"
                                   OnCancel="HandleCancel" />
        </ContentFragment>
        <ErrorFragment>
            @Message
        </ErrorFragment>
    </ContainerStatesComponent>

</div>
