@page "/zone/entity"
@code
{
    public const string Route = "/zone/entity";
}

@using EventHorizon.Game.Editor.Client.Zone.EntityEditor.Components
@layout MainLayout
@inherits ZoneEntityListPageModel

@* <ZoneStateProvider> *@
    <h1>@Localizer["Entity Editor"]</h1>
    <EntityList />
@* </ZoneStateProvider> *@
