@using EventHorizon.Game.Editor.Client.Shared.Properties
@inherits WizardStepFormInputModel

<div class="form-input">
    <div class="form-input__name --font-bold --header-font-size">
        @Localizer[Step.Name]
    </div>
    <div class="form-input__description">
        <i class="fas fa-info-circle --info"></i> @Localizer[Step.Description]
    </div>

    <PropertyDisplay Data="PropertiesData"
                     LabelMap="PropertyLabelMap"
                     PropertiesMetadata="PropertiesMetadata"
                     OnChanged="HandleDataChanged" />
</div>
