@inherits WizardStepWaitForActivityEventBase
<div class="wait-for-activity-event">
    <div class="wait-for-activity-event__name --font-bold --header-font-size">
        @Localizer[Step.Name]
    </div>
    <div class="wait-for-activity-event__description">
        <i class="fas fa-info-circle --info"></i> @Localizer[Step.Description]
    </div>
</div>
