@inherits WizardStepLocationNavigateBase

<div class="location-navigate">
    <div class="location-navigate__name --font-bold --header-font-size"
         data-test-selector="step-name">
        @Localizer[Step.Name]
    </div>
    <div class="location-navigate__description">
        <i class="fas fa-info-circle --info"></i> @Localizer[Step.Description]
    </div>

    @if (!string.IsNullOrWhiteSpace(ErrorMessage))
    {
        <div class="location-navigate__error-message --error">
            <i class="fas fa-exclamation-triangle"></i> @ErrorMessage
        </div>
    }
</div>
