@inherits WizardStepInfoTextBase

<div class="info-text">
    <div class="info-text__name --font-bold --header-font-size">
        @Localizer[Step.Name]
    </div>
    <div class="info-text__description">
        <i class="fas fa-info-circle --info"></i> @Localizer[Step.Description]
    </div>
</div>
