@inherits WizardStepCaptureCurrentLocationBase

<div class="capture-current-location">
    <div class="capture-current-location__name --font-bold --header-font-size">
        @Localizer[Step.Name]
    </div>
    <div class="capture-current-location__description">
        <i class="fas fa-info-circle --info"></i> @Localizer[Step.Description]
    </div>

    @if (!string.IsNullOrWhiteSpace(ErrorMessage))
    {
        <div class="capture-current-location__error-message --error">
            <i class="fas fa-exclamation-triangle"></i> @ErrorMessage
        </div>
    }

</div>
