@inherits WizardStepTextInputBase

<div class="text-input">
    <div class="text-input__name --font-bold --header-font-size">
        @Localizer[Step.Name]
    </div>
    <div class="text-input__input">
        <input @ref="TextInputElement"
               type="text"
               placeholder="@Localizer[Step.Name]"
               @bind-value="TextValue" />
    </div>
    <div class="text-input__description">
        <i class="fas fa-info-circle --info"></i> @Localizer[Step.Description]
    </div>
</div>
