@inherits WizardStepTriggerReloadingStateEventBase

<div class="trigger-reloading-state-event">
    <div class="trigger-reloading-state-event__name --font-bold --header-font-size"
         data-test-selector="step-name">
        @Localizer[Step.Name]
    </div>
    <div class="trigger-reloading-state-event__description">
        <i class="fas fa-info-circle --info"></i> @Localizer[Step.Description]
    </div>
</div>
