@inherits WizardStepServerProcessBase

<div class="server-process">
    <div class="server-process__name --font-bold --header-font-size">
        @Localizer[Step.Name]
    </div>
    <div class="server-process__description">
        <i class="fas fa-info-circle --info"></i> @Localizer[Step.Description]
    </div>

    @if (Step.IsProcessing)
    {
        <div>
            <Loading Text="@Localizer["Processing..."]" />
        </div>
    }

    @if (!string.IsNullOrWhiteSpace(SuccessMesssage))
    {
        <div class="server-process__success-message --success">
            <i class="far fa-star"></i> @SuccessMesssage
        </div>
    }

    @if (!string.IsNullOrWhiteSpace(ErrorMessage))
    {
        <div class="server-process__error-message --error">
            <i class="fas fa-exclamation-triangle"></i> @ErrorMessage
        </div>
    }
</div>
