.loader {
    height: 100%;
    padding: 0.5rem 0 0 0;
}

    .loader .row {
        height: 1rem;
        min-width: 100px;
        max-width: 600px;
        display: flex;
        margin: auto;
        transform: translateZ(0);
    }

        .loader .row div {
            flex: 1;
            background: var(--loading-color);
            -webkit-animation: go 2s infinite ease;
            animation: go 2s infinite ease;
            box-shadow: 0 0 2rem var(--loading-filter-color);
        }

            .loader .row div:nth-child(1) {
                -webkit-animation-delay: -0.72s;
                animation-delay: -0.72s;
            }

            .loader .row div:nth-child(2) {
                -webkit-animation-delay: -0.64s;
                animation-delay: -0.64s;
            }

            .loader .row div:nth-child(3) {
                -webkit-animation-delay: -0.56s;
                animation-delay: -0.56s;
            }

            .loader .row div:nth-child(4) {
                -webkit-animation-delay: -0.48s;
                animation-delay: -0.48s;
            }

            .loader .row div:nth-child(5) {
                -webkit-animation-delay: -0.4s;
                animation-delay: -0.4s;
            }

            .loader .row div:nth-child(6) {
                -webkit-animation-delay: -0.32s;
                animation-delay: -0.32s;
            }

            .loader .row div:nth-child(7) {
                -webkit-animation-delay: -0.24s;
                animation-delay: -0.24s;
            }

            .loader .row div:nth-child(8) {
                -webkit-animation-delay: -0.16s;
                animation-delay: -0.16s;
            }

            .loader .row div:nth-child(9) {
                -webkit-animation-delay: -0.08s;
                animation-delay: -0.08s;
            }

            .loader .row div:nth-child(10) {
                -webkit-animation-delay: 0s;
                animation-delay: 0s;
            }

.loader__reload-page {
    animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
    -moz-animation: fadeIn linear 2s;
    -o-animation: fadeIn linear 2s;
    -ms-animation: fadeIn linear 2s;
}

.loader__reload-page__divider {
    width: 33%;
}

.loader__reload-page__link {
    padding: 1rem 0 0 0;
}

@-webkit-keyframes go {
    100% {
        background: transparent;
        flex: 10;
        box-shadow: 0 0 0 transparent;
    }
}

@keyframes go {
    100% {
        background: transparent;
        flex: 10;
        box-shadow: 0 0 0 transparent;
    }
}

.fade-in-text {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150px;
    color: black;
    animation: fadeIn linear 7s;
    -webkit-animation: fadeIn linear 7s;
    -moz-animation: fadeIn linear 7s;
    -o-animation: fadeIn linear 7s;
    -ms-animation: fadeIn linear 7s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
