@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: var(--primary-light);
    background-color: var(--background-dark);
    padding: 0;
    margin: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

    *:focus-visible {
        outline: none;
    }

a, .btn-link {
    color: var(--primary-light);
}

.btn-primary {
    color: var(--accent-color);
    background-color: var(--primary-base);
    border-color: var(--accent-base);
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    display: none;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
    }

hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    border-top: 1px solid var(--accent-background);
    border-bottom: 1px solid var(--accent-background);
    border-left: none;
    border-right: none;
}

.--font-bold {
    font-weight: bold;
}

.--font-underline {
    text-decoration: underline;
}

.--header-font-size {
    font-size: 1rem;
}

.--remove-spacing {
    padding: 0;
    margin: 0;
}

.--padding {
    padding: 0.8rem;
}

.--spacing {
    padding: 0.8rem 0;
}

.--cursor-pointer {
    cursor: pointer;
}

.--accent-color {
    color: var(--accent-color);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.--center {
    text-align: center;
    justify-content: center;
}

.--success {
    color: var(--success);
}

.--error {
    color: var(--error);
}

.--info {
    color: var(--info);
}

pre {
    padding: 0.5rem;
    overflow: auto;
}

/* Table Styles */
/*Generic Styling, for Desktops/Laptops */
table {
    border-collapse: collapse;
}

    table.--full {
        width: 100%;
    }

tr {
    background: var(--contrast-light-primary);
}

    tr:nth-of-type(odd) {
        background: var(--background-dark);
    }

th {
    background: var(--contrast-light-primary);
    font-weight: bold;
    border-bottom: var(--accent-light) 1px solid;
}

td, th {
    padding: 6px;
    text-align: left;
}

@media (min-width: 641px) {
}

@media (min-width: 768px) {
}


/* Controls */
button {
    background: var(--background-dark);
    color: inherit;
    border: 1px solid var(--accent-background);
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border-radius: 0;
}

    button:hover,
    button:focus {
        background-color: var(--contrast-light-disabled);
        border: 1px solid var(--contrast-dark-secondary);
    }

    button.--error {
        background: var(--error-light-secondary);
        color: inherit;
        border: 1px solid var(--error-light-disabled);
    }

        button.--error:hover,
        button.--error:focus {
            background: var(--error-light-disabled);
            border: 1px solid var(--error-light-primary);
        }

    button.--no-border,
    button.--no-border {
        border: 1px solid transparent;
    }

    button:hover.--no-border,
    button:focus.--no-border {
        border: 1px solid var(--contrast-dark-secondary);
    }

    button.--text {
        background: none;
        color: inherit;
        border: solid 1px transparent;
        padding: 0;
        font: inherit;
        cursor: pointer;
    }

    button[disabled] {
        background-color: var(--contrast-light-disabled);
        border: 1px solid var(--contrast-dark-secondary);
        color: var(--contrast-dark-secondary);
        cursor: not-allowed;
    }


input {
    font: inherit;
    box-sizing: border-box;
}

    input:not([type=checkbox]) {
        width: 100%;
    }


.alpha-banner a {
    color: var(--accent-base);
}

.--sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

/* Scroll Bars */
*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--brand-color);
    border-radius: 10px;
}

/* App Loader */

.app-loader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .app-loader .row {
        display: flex;
    }

    .app-loader .arrow {
        width: 0;
        height: 0;
        margin: 0 -6px;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 21.6px solid var(--loading-color);
        -webkit-animation: blink 1s infinite;
        animation: blink 1s infinite;
        filter: drop-shadow(0 0 18px var(--loading-filter-color));
    }

        .app-loader .arrow.down {
            transform: rotate(180deg);
        }

        .app-loader .arrow.outer-1 {
            -webkit-animation-delay: -0.0555555556s;
            animation-delay: -0.0555555556s;
        }

        .app-loader .arrow.outer-2 {
            -webkit-animation-delay: -0.1111111111s;
            animation-delay: -0.1111111111s;
        }

        .app-loader .arrow.outer-3 {
            -webkit-animation-delay: -0.1666666667s;
            animation-delay: -0.1666666667s;
        }

        .app-loader .arrow.outer-4 {
            -webkit-animation-delay: -0.2222222222s;
            animation-delay: -0.2222222222s;
        }

        .app-loader .arrow.outer-5 {
            -webkit-animation-delay: -0.2777777778s;
            animation-delay: -0.2777777778s;
        }

        .app-loader .arrow.outer-6 {
            -webkit-animation-delay: -0.3333333333s;
            animation-delay: -0.3333333333s;
        }

        .app-loader .arrow.outer-7 {
            -webkit-animation-delay: -0.3888888889s;
            animation-delay: -0.3888888889s;
        }

        .app-loader .arrow.outer-8 {
            -webkit-animation-delay: -0.4444444444s;
            animation-delay: -0.4444444444s;
        }

        .app-loader .arrow.outer-9 {
            -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s;
        }

        .app-loader .arrow.outer-10 {
            -webkit-animation-delay: -0.5555555556s;
            animation-delay: -0.5555555556s;
        }

        .app-loader .arrow.outer-11 {
            -webkit-animation-delay: -0.6111111111s;
            animation-delay: -0.6111111111s;
        }

        .app-loader .arrow.outer-12 {
            -webkit-animation-delay: -0.6666666667s;
            animation-delay: -0.6666666667s;
        }

        .app-loader .arrow.outer-13 {
            -webkit-animation-delay: -0.7222222222s;
            animation-delay: -0.7222222222s;
        }

        .app-loader .arrow.outer-14 {
            -webkit-animation-delay: -0.7777777778s;
            animation-delay: -0.7777777778s;
        }

        .app-loader .arrow.outer-15 {
            -webkit-animation-delay: -0.8333333333s;
            animation-delay: -0.8333333333s;
        }

        .app-loader .arrow.outer-16 {
            -webkit-animation-delay: -0.8888888889s;
            animation-delay: -0.8888888889s;
        }

        .app-loader .arrow.outer-17 {
            -webkit-animation-delay: -0.9444444444s;
            animation-delay: -0.9444444444s;
        }

        .app-loader .arrow.outer-18 {
            -webkit-animation-delay: -1s;
            animation-delay: -1s;
        }

        .app-loader .arrow.inner-1 {
            -webkit-animation-delay: -0.1666666667s;
            animation-delay: -0.1666666667s;
        }

        .app-loader .arrow.inner-2 {
            -webkit-animation-delay: -0.3333333333s;
            animation-delay: -0.3333333333s;
        }

        .app-loader .arrow.inner-3 {
            -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s;
        }

        .app-loader .arrow.inner-4 {
            -webkit-animation-delay: -0.6666666667s;
            animation-delay: -0.6666666667s;
        }

        .app-loader .arrow.inner-5 {
            -webkit-animation-delay: -0.8333333333s;
            animation-delay: -0.8333333333s;
        }

        .app-loader .arrow.inner-6 {
            -webkit-animation-delay: -1s;
            animation-delay: -1s;
        }

@-webkit-keyframes blink {
    0% {
        opacity: 0.1;
    }

    30% {
        opacity: 1;
    }

    100% {
        opacity: 0.1;
    }
}

@keyframes blink {
    0% {
        opacity: 0.1;
    }

    30% {
        opacity: 1;
    }

    100% {
        opacity: 0.1;
    }
}
