@inherits PlayerConfigurationEditorComponentBase
@using EventHorizon.Game.Editor.Client.Wizard.Components
@using EventHorizon.Game.Editor.Client.Wizard.Components.Provider

<div class="player-wizard-editor">
    @if (State.CurrentStep(WizardContext) && IsCurrentWizard)
    {
        <div data-test-selector="wizard-editor-page__step-editor">
            <WizardContextProvider Context="@WizardContext">
                <WizardStepEditor Step="@(State.CurrentStep(WizardContext).Result)" Data="@(State.CurrentData(WizardContext))" />
            </WizardContextProvider>
        </div>
    }
    else
    {
        <div data-test-selector="wizard-editor-page__list">
            <FluentButton OnClick="HandleStartEditing">
                @Localizer["Start Editing Configuration"]
            </FluentButton>
        </div>
    }
</div>
