@using EventHorizon.Game.Editor.Client.AssetManagement.Components.DirectoryContent
@inherits AssetFileWindowModel

<div class="file-window">
    @foreach (var node in State.FileCollection)
    {
        <button class="file-directory-content__button --text"
                type="button"
                @onclick="() => HandleDirectoryContentClicked(node)">
            <FileDirectoryContent File="node"
                                  OnDelete="HandleDeleteFileDirectoryContent" />
        </button>
    }
</div>
