@inherits PlayerEditorSkillStateComponentBase
@using BlazorMonaco.Editor

<div>
    <FluentButton OnClick="HandleOpenEditor">
        @Localizer["Open Editor"]
    </FluentButton>

    <DumpToJson Data="Data" />
    <StandardModal IsOpen="IsEditorOpen" HideClose="true">

        <Body>
            <div class="skill-state__editor-container">
                <StandaloneCodeEditor @ref="MonacoEditor" Id="@PropertyEditorId" CssClass="skill-state__editor"
                    ConstructionOptions="BuildConstructionOptions" />
                <StandardToolbar class="skill-state__editor-toolbar">
                    <StandardToolbarButton @onclick="HandleSave">
                        @Localizer["Save"]
                    </StandardToolbarButton>
                    <StandardToolbarButton @onclick="() => IsEditorOpen = false">
                        @Localizer["Cancel"]
                    </StandardToolbarButton>
                </StandardToolbar>
            </div>
        </Body>
    </StandardModal>
</div>
