<ContainerStatesComponent State=State>
    <LoadingFragment>
        <div class="transition-container loading">
            @LoadingFragment
        </div>
    </LoadingFragment>
    <ContentFragment>
        <div class="transition-container content">
            @ContentFragment
        </div>
    </ContentFragment>
    <ErrorFragment>
        <div class="transition-container error">
            @ErrorFragment
        </div>
    </ErrorFragment>
</ContainerStatesComponent>
